* {
	margin: 20px;
	padding: 20px;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(rgba(62, 20, 20, 0.4),
		rgba(62, 20, 20, 0.4)), url("background.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	position: relative;
	height: 100vh;
	color: #555;
}

table {
	font: white;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.container{
	text-align: center;
}